@import url("./__lang-link/header__lang-link.css");
@import url("./__logo/header__logo.css");
@import url("./__lang-link/_active/header__lang-link_active.css");

.header{
  margin: 0 auto;
  padding-top: 28px;
  width: 1184px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  }
  @media only screen and (max-width: 1279px) and (min-width: 1023px){
    .header{
    width: 90%;
    }
  }
@media only screen and (max-width: 1024px) and (min-width: 768px){
  .header{
    width: 90%;
  }
}
@media only screen and (max-width: 767px) and (min-width: 425px){
  .header{
    width: 94%;
  }
}
@media only screen and (max-width: 425px){
  .header{
    width: 90%;
}}
