@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);

.intro{
  margin: 0;
  box-sizing: content-box;
  max-width: 690px;
  padding-top: 92px;
  padding-left: 148px;
  padding-bottom: 92px;
  /* display: flex;
  flex-direction: column ;
  flex-wrap: nowrap;
  justify-content:space-between;
  align-items: flex-start; */
}
@media only screen and (max-width: 1280px) and (min-width: 1024px){
  .intro{
  padding-left: 48px;
}}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .intro {
    margin: 0 auto;
    padding-top: 88px;
    padding-left: 0;
    padding-bottom: 88px;
}}
@media only screen and (max-width: 768px) and (min-width: 425px) {
  .intro {
    width: calc(100% - 48px);
    margin: 0 auto;
    padding-top: 88px;
    padding-left: 0;
    padding-bottom: 88px;
}}
@media only screen and (max-width: 425px){
  .intro {
    width: calc(100% - 32px);
    margin: 0 auto;
    padding-top: 64px;
    padding-left: 0;
    padding-bottom: 64px;
  }
}
