@import url(./__overlay/cover_overlay.css);
@import url(./__background/cover__background.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__text/cover__text.css);

.cover{
  margin: 0 auto;
  padding-top: 92px;
  max-width: 1184px;
  box-sizing: border-box;
}
@media only screen and (max-width: 1279px) {
  cover{
      margin: 0;
    }}
